/* @font-face {
    font-family: 'visitor';
    src: url('visitor.ttf') format('truetype')
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    image-rendering: pixelated;
    color: #fff;
    background: #444;
}

